name: Publish Book

on:
  push:
    tags:
      - "v[0-9]+.*"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    container: asciidoctor/docker-asciidoctor
    permissions: write-all
    steps:
      - name: Checkout Book Sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Output Directory
        run: mkdir output

      - name: Build PDF
        # asciidoctor-pdf is built-in to this image
        run: asciidoctor-pdf -D output -o my-book.pdf src/book.adoc

      - name: Build EPUB
        # asciidoctor-epub3 is also built-in
        run: asciidoctor-epub3 -D output -o my-book.epub src/book.adoc

      - name: Release to GitHub
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            output/my-book.pdf
            output/my-book.epub
          draft: false
          prerelease: false
